<div class="footer">
  <div class="line">
    <a href="https://www.youtube.com/c/alexChaplinsky" class="icon-youtube" target="_blank"></a>
    <a href="https://www.instagram.com/alchaplinsky" class="icon-instagram" target="_blank"></a>
    <a href="https://www.facebook.com/alexchaplinsky" class="icon-facebook" target="_blank"></a>
  </div>
  <div class="muted">
    Made with <%= image_tag 'like.svg' %> by Alex Chaplinsky
  </div>
</div>
