---
title:
  en: About | Alex Chaplinsky
  ru: Обо Мне | Алекс Чаплинский
---
<%= partial 'partials/header' %>
<div class="content">
  <section class="section">
    <div class="content-wrapper row">
      <div class="col1of2">
        <%= I18n.t(:about_text)%>
      </div>
      <div class="col1of2 mobile-hidden">
        <img src="https://lh3.googleusercontent.com/2Mb0uaZI-lJ98Wgj-gtIF5G8j-dZdifsUpU8L1_FJb1LgGAAL5y8QL71iRcVweOnsJu3bhyUWGvfTxkahPUKXcTGDMEYX8MtPxDO17SbvZJHb4IuoCjD7-F9PeCgWhCBTfQeUBoJGgEbUXKZgmpHK7-Y65hr-ifQYx1k-PCQJuYxHiWVL3tyE3V0mcnHLlPSO-3MU43vY-fYxXe4bdgmol3gVPb-jtbEYMzBA2VLUKl8PWUhqpyA6VMDvVkn5I2cjCCKPHQNF45fdfPaFfEneuM4R7QAGnW25eHIJYO5At1wduSBjfLUn1i6Ox4uQBk5s-yg3meqvktW1wgNN9IyWINYkjZI70ONUIlAOMQSptwlMEf3hZUL1DsQhL0ZydL54HQSeoL_76q3s04zeLB4znWRaq07o_-kL-QiL_k8DndJG6HMjqADplyKBmbLDdB8-WP-wJSz-EpF5x6_xRbep4j_Bh81O0Ajh7Vaucq2uwDLUqEZJyI0KAQanNE3PCBqtSb0eszHn407shqsJrTdVYELiohejLgl7whSBz7v9mx4fvYyZKoU8A5uUGB797c91yYHSMti3nKF8H6-soYNDNfC73hsbH2rQBZ0LvVET3w5da9quVESO1f-rOpIUlng51jA2jpk7JkUVGCCI1oPmfiIjw=w976-h1300-no" style="max-width: 100%"/>
      </div>
    </div>
  </section>
</div>
