---
title:
  en: About | Alex Chaplinsky
  ru: Обо Мне | Алекс Чаплинский
description:
  en: About Alex Chaplinsky travel videographer, content creator, youtuber
  ru: Алекс Чаплинский трэвел блоггер, видеограф, ютьюбер
keywords:
  en: about, alex chaplinsky, oleksandr chaplinsky, travel, videographer, youtuber, vlog, software engineer, railsware
  ru: алекс чаплинский, александр чаплинский, путешествия, видеограф, ютьюбер, блоггер, влог
---
<%= partial 'partials/header' %>
<div class="content">
  <section class="section">
    <div class="content-wrapper row">
      <div class="col1of2">
        <%= I18n.t(:about_text)%>
      </div>
      <div class="col1of2 mobile-hidden">
        <%= image_tag "alex/002@2x.jpg", alt: I18n.t(:name), title: I18n.t(:name) %>
      </div>
    </div>
  </section>
</div>
