---
title:
  en: Contact | Alex Chaplinsky
  ru: Контакт | Алекс Чаплинский
description:
  en: Contact Alex Chaplinsky travel videographer, content creator, youtuber
  ru: Алекс Чаплинский трэвел блоггер, видеограф, ютьюбер
keywords:
  en: contact, alex chaplinsky, oleksandr chaplinsky, travel, videographer, youtuber, vlog, software engineer, railsware
  ru: связаться, алекс чаплинский, александр чаплинский, путешествия, видеограф, ютьюбер, блоггер, влог
---
<%= partial 'partials/header' %>
<div class="content">
  <section class="section">
    <div class="content-wrapper row">
      <div class="col1of2">
        <%= I18n.t(:contact_text)%>
        <br />
        <a href="mailto:contact@alchaplinsky.pro" class="button"><%= I18n.t(:contact_me)%></a>
      </div>
      <div class="col1of2 mobile-hidden">
        <img src="https://lh3.googleusercontent.com/e1YiLnNZVgifdMxlbC5dCQc9RMVE74zA9Vy9IcIaNM5_Gg0jMxg7rFGVFwYbstgn9uY-SjEyhuqM6x6dhpLIPA6yKWNBX4XMaNCfSpPMfXYYzVIypftsDA7Zu1r_8jEDxfEU55mS-Xsn4xio4wHyLECUGB-5tzrro-V2GdctOPC4eZFXT7MxKdxUi0AEh87BPFo0f3HNFjamAcPlYZ43J63x5h2bViS9VC53usOyx_vvyKY5NN74H_77cGMg8ai6SnJe70I2zwK-h_HpGlyOBEaQ2ZWM_s3ivmJsErcXyniCSgpbKwYcv-XKJWqIU0-BHDv9U6p9xXgf6S-mERW9oW5hXaSwCnrPTxBR_JcSbYliUzlzAX8ygb9716tNyFVGbxTTzhK6sN9F2zff_jGHHpDzEFZXNzf2iKOBrL3s2VMcjdLgEORMTumrmufxZdbJwQME8aK030cF_8-0SKhj3k2qe3pnISSU1rZHXMtmiIRNaWKHDJgiOW7PDrVhIA30M_rLb2gWZBgCCh9nbvyd73lIzjaNmBzWoV6fS4pLyuz6TCKBbvM1wXZyaws9lsb1l98-8MS_MfaHqAXmlRAtZtNeR89_mOJ9bTlHBXEue0CueFFmtmaytu0cl1YqQbNZmvftFvDLbHPfHHVs1jEj8z9dGQ=w867-h1300-no" />
      </div>
    </div>
  </section>
</div>
