---
title:
  en: Contact | Alex Chaplinsky
  ru: Контакт | Алекс Чаплинский
description:
  en: Contact Alex Chaplinsky travel videographer, content creator, youtuber
  ru: Алекс Чаплинский трэвел блоггер, видеограф, ютьюбер
keywords:
  en: contact, alex chaplinsky, oleksandr chaplinsky, travel, videographer, youtuber, vlog, software engineer, railsware
  ru: связаться, алекс чаплинский, александр чаплинский, путешествия, видеограф, ютьюбер, блоггер, влог
---
<%= partial 'partials/header' %>
<div class="content">
  <section class="section">
    <div class="content-wrapper row">
      <div class="col1of2">
        <%= I18n.t(:contact_text)%>
        <br />
        <a href="mailto:contact@alchaplinsky.com" class="button"><%= I18n.t(:contact_me)%></a>
      </div>
      <div class="col1of2 mobile-hidden">
        <%= image_tag "alex/001@2x.jpg", alt: I18n.t(:name), title: I18n.t(:name) %>
      </div>
    </div>
  </section>
</div>
