.image-section {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 700px;
  font-size: 20px;
  background-image: url("/images/roll02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5); }

.image-section h2 {
  font-size: 50px;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  text-transform: uppercase; }

.image-section p {
  text-align: right; }
