---

title: Сингапур - первое знакомство
date: 2016-01-02 11:23 UTC
tags: travel, сингапур, путешествия

---
<img src="https://miro.medium.com/max/5120/1*JfaY5Q464DPRScZ_g7ZQ4w.jpeg" alt="">
<h1>Сингапур — первое знакомство</h1>
<p>Сингапур это город (страна), где я уже успел побывать не раз, но с удовольствием пользуюсь каждой возможностью заехать сюда, хотя бы даже на несколько дней по транзитной визе. Некоторые люди удивляются этому, мол если есть возможность путешествовать, то почему бы не ездить в новые места, зачем возвращаться туда же снова? Недавно даже меня спросили “Опять Сингапур? Что вы ещё там не видели?”</p>
<p>И это очень хороший вопрос — он помог мне понять, что я езжу туда не за достопримечательностями и не потому что не успел там что-то увидеть. Я возвращаюсь в Сингапур потому, что когда нахожусь там, мне больше никуда ехать не хочется..</p>
<p>В первый раз я услышал о Сингапуре очень давно, от одного знакомого, который там однажды побывал. Он рассказал приблизительно следующее — “Это островное государство, которое находится на сравнительно небольшом острове в Азии, в тропических широтах. Местный правитель на законодательном уровне искоренил, коррупцию, упростил ведение бизнеса, ну короче сделал для местных жизнь сказкой.. Да, а еще там почти ни у кого нет машин, так как на них огромный налог”. Ну или по крайней мере это все что я помню с того разговора. И если честно, после этих слов, Сингапур я себе представил очень четко, но абсолютно далеким от реальности.</p>
<p>У меня в голове нарисовалась картинка, с небольшим тропическим островом, 90% которого покрыто джунглями. Местные жители — чуть ли не дикие, живущие в лесах азиаты (ну конечно же, машин то нет.. что они из цивилизации еще видеть могли?), у которых есть правитель, который делает в стране что хочет, но люди вроде как довольны. Ну че им в джунглях вообще нужно? И если честно, наверное, до моей первой поездки в Сингапур часть этих стереотипов так и сидели в моей голове. Нет, я не то чтобы не интересовался куда еду.. Просто Азия очень контрастная и я уже как-то привык, что рядом с красивыми картинками райских пляжей, находятся те же джунгли и люди, живущие в условиях, далеких от цивилизованных.</p>
<p>Поэтому, можно только представить какое впечатление на меня произвело, то, что я увидел приехав в Сингапур:</p>
