---

title: Футуристичный Сингапур
date: 2016-03-28 11:23 UTC
tags: travel, сингапур, путешествия

---

<h1>Футуристичный Сингапур</h1>
<p>Когда я рассказываю о Сингапуре, мне часто задают вопрос: “Ну что же там такого?” или “Интересно, чем он так примечателен, что все его в пример ставят?”. Думаю нет короткого ответа на эти вопросы. Очень во многом мне Сингапур напоминает Город Будущего. Но, наврное, первым и главным впечатлением остается архитектура. Она, конечно же, разнообразна и очень отличается от района к району. Но по всему острову разбросаны особенные архитектурные решения, которые иногда заставляют недоумевать — “Ну как вообще можно было такое придумать?”</p>

<h2>Marina Bay Sands Hotel</h2>
<p>Это, конечно же, самое известное здание и, наверное, самое банальное с чего можно было бы начать этот список. Однако Marina Bay Sands — очень интересное, с точки зрения архитектуры, здание и по совместительству является самым узнаваемым символом Сингапура.</p>
<p>Marina Bay Sands — это пятизвездочный отель, здание которого представляет из себя 3 башни с конструкцией, похожей на лодку, на верхушке. Дизайн отеля одобрен мастерами фэн-шуй, а номера стартуют от $250 за ночь.</p>
<img src="https://miro.medium.com/max/4176/1*GTiTTohCJBPIO7UfOzcC_w.jpeg" alt="">
<p>Здание находится буквально напротив делового центра города, отделенное заливом Marina Bay. Эта часть города была искусственно способом намывания песка и расширением территории острова. Ведь несколько десятков лет назад, всего что находится за Marina Bay, не существовало вообще.</p>
<img src="https://miro.medium.com/max/1600/1*kKpGrTp4n8qlAcRAo8a5Nw.jpeg" alt="">
<p>На крыше здания, в той самой лодке, расположен знаменитый бассейн Infinity Pool. Котрый, как и бассейны в любом другом отеле, открыт для посещения постояльцами. Просо так попасть в него заплатив за вход не получится. Однако в носовой части лодки, находится смотровая площадка Sky Park, куда можно попасть за 23 сингапурских доллара, и посмотреть на город с того же ракурса, что и из бассейна.</p>

<h2>The Pinnacle at Duxton</h2>
<img src="https://miro.medium.com/max/2160/1*lU0-6IqlrXlJd3AAnYeJ3w.jpeg" alt="">
<p>Pinnacle at Duxton — это огромный жилой комплекс, состоящий из семи высотных зданий, соединенных между собой “мостами” (skybridge) на уровнях 26-го и 50-го этажей. Находится он на Duxton Hill недалеко от района Chinatown.</p>
<p>Особенность этого сооружения в том, что архитекторы умудрились на небольшом клочке земли вместить большое количество помещений, необходимых жильцам, включая квартиры, подземный паркинг, спортивные заведения, фудкорты, медицинские учреждения.</p>
<img src="https://miro.medium.com/max/4150/1*JDT2S0w5tT_hy2TAxheK0g.jpeg" alt="">
<p>Помимо приватных жилых площадей, здесь расположены публичные зоны отдыха, куда может попасть любой желающий. На обоих skybridge, соединяющих здания, находятся парки, с панорамным 360-градусным видом на Сингапур.</p>

<h2>The Interlace</h2>
<img src="https://miro.medium.com/max/2560/1*AnBKwDq62k_4nT4eJoUwaA.jpeg" alt="">
<p>Еще один пример интересного решения для размещения большого количества жилых площадей. Вместо того, чтобы строить пять высотных зданий, архитекторы “разбили” эти высотки на блоки поменьше и расположили сложенными друг на друга, казалось бы, в хаотическом порядке.</p>
<img src="https://miro.medium.com/max/2048/1*lDiVK_iMGLWESBuVVdsp4w.jpeg" alt="">
<p>Но на самом деле они добились того, что на участке земли такого же размера смогли разместить большее количество квартир, и при этом уменьшить время, необходимое для того, чтобы спуститься с самого высокого этажа на землю.</p>
<img src="https://miro.medium.com/max/1300/1*RdpDwlIbN2FDGBfcF5s4Tw.jpeg" alt="">
<p>Попасть на територию жилого комплекса можно, если вы там живете, или же пришли к кому-либо из жильцов в гости. Охрана вежливо объясняет туристам что здесь как-бы private property и любоваться можно со стороны. Это, конечно, минус для туристов, но, думаю, огромный плюс для жильцов комплекса Interlace.</p>


<h2>Reflections at Keppel Bay</h2>
<img src="https://miro.medium.com/max/3106/1*i5zp4vDMRpSYE_L-c9KMsQ.jpeg" alt="">
<p>Reflections at Keppel Bay это люксовый жилой комплекс, который находится на побережье с видом на залив Keppel. Комплекс представляет из себя 6 башен полностью покрытых стеклом и 11 веерообразных многоквартирных домов-вилл. Думаю, не стоит отдельно говорить о том, что живут там не простые жители Сингапура :) Здесь же, для владельцев апартаментов, в заливе есть причал для швартовки собственных яхт и катеров.</p>
<p>Рассмотреть и сфотографировать вблизи это сооружение, мне не удалось, так как ни разу мой маршрут не проходил рядом с Reflections. Но после опыта с The Interlace, почти со 100% уверенностью могу сказать, что попасть на территорию просто из любопытства будет нереально.</p>
<img src="https://miro.medium.com/max/4096/1*i2iYsrZ6ki07aKhIzngf0Q.jpeg" alt="">
<p>Но даже издалека, эти 6 башен, имеющие изогнутую форму и развернутые друг к другу лицом, смотрятся очень футуристично, особенно когда смотришь на него из парка Mount Faber. С этого ракурса здание, словно выныривает из зелени тропических лесов. Складывается впечатление, как-будто смотришь на природу и архитектуру внеземной цивилизации.</p>

<h2>Marina Barrage</h2>
<img src="https://miro.medium.com/max/2400/1*PiHmNnc5l3kvj-ho_-3W5Q.jpeg" alt="">
<p>Marina Barrage — одно из моих самых любимых мест в Сингапуре. Нашли мы его, как многие интересные локации, случайно. Несмотря на то, что дорога, идущая мимо оранжерей, приводит прямо к этой дамбе, туристов здесь почти не встретить. Зато местные любят устраивать здесь пикники в выходные да и в будни приходят на закат.</p>
<p>По сути, Marina Barrage это дамба, отделяющая пресную реку Сингапура от морской воды в заливе, и водоочистной комплекс, который также решили не закрывать забором, а обустроить как публичное место для отдыха. Так, на крыше комплекса появился газон, где каждые выходные жители Сингапура приходят запускать воздушных змеев, ну или просто устроить пикник.</p>
<p>Что интересно, здесь собираются не только семьи с детьми, парочки в поисках романтики, но и компании молодых людей разных возрастов. Здесь не увидишь людей открыто распивающих алкоголь в большом количестве. Не потому, что это здесь запрещено, а просто потому, что для этого есть отдельные места в городе, как, например, район Clarke Quay. Сюда же приходят проводить время совсем по-другому.</p>
<img src="https://miro.medium.com/max/2048/1*40O4cXxce2o3qMkVzz69iQ.jpeg" alt="">
<p>На этом, конечно же, не заканчивается список интересных и футуристичных строений Сингапура, это только некоторые из тех, что поразили меня, и о которых я могу написать хоть пару строк. При каждом посещении этого города, мы постоянно натыкаемся на что-нибудь новенькое и интересное. И это не говоря уже о том, что сам город активно развивается и каждый год здесь появляются амбициозные и креативные работы архитектором мирового класса. И правительство всячески способствует реализации таких вот проектов и архитектурных решений, созданных чтобы справляться с перенаселенностью небольшой территории страны.</p>
